  /*****************
    ****Display*****
    ****************/
    .d-flex{display: flex;}
    .s-none{display: none;}
    
    
      /****************
        ****Flex*******
        ****************/
    .flex-grow{flex-grow: 1;}
    .flex-row{flex-direction: row;}
    .flex-row-reverse {flex-direction: row-reverse;}
    .flex-column{flex-direction: column;}
    .flex-wrap{flex-wrap: wrap;} /*Om innehållet inte får plats så kommer den att skjuter ner "featursen" ikonerna till nästa rad ÄVEN så att bilderna etc anpassar sig efter "mobiltelefoner" eller när man zoomar ut in */
    
    
    /***************************
      ******Align & Justify******
      **************************/
      .justify-content-between{justify-content: space-between;}
      .justify-content-center{justify-content: center;}
      .justify-content-around{justify-content: space-around;}
      .align-items-center{align-items: center;}
      .align-items-left{align-items: flex-start;}
      .align-items-right{align-items: flex-end;}
       
      